/* ✅ Animation for modal appearance */
.fade-modal {
  animation: fadeIn 0.3s ease-in-out;
}
/* تحسين الجدول */
.table-custom {
  border-radius: 12px;                 /* حواف دائرية للجدول */
  overflow: hidden;                    /* لضمان عدم خروج الشادو */
  box-shadow: 0 4px 12px rgba(0,0,0,0.05); /* شادو خفيف */
  background-color: #ffffff;
  padding: 16px;
}

/* داخل category.component.css أو أي component */
:host ::ng-deep .table-custom tr:first-child  {
  background: linear-gradient(135deg, #81b29a 0%, #f2cc8f 100%) !important;
  color: #fff !important;
}
:host ::ng-deep .table-custom tr:first-child th {
 padding: 12px 16px;
 font-weight: 600;
}


.table-custom tbody tr {
  transition: background-color 0.3s;
}

.table-custom tbody tr:hover {
  background-color: #fcf3e4; /* لون باهت عند المرور */
}

.table-custom td, .table-custom th {
  vertical-align: middle;
  border-top: 1px solid rgba(0,0,0,0.05); /* خطوط خفيفة بين الصفوف */
}

/* تحسين صور الأيقونات */
.table-custom img.rounded-circle {
  object-fit: cover;
  border: 1px solid rgba(0,0,0,0.05); /* إطار خفيف حول الصورة */
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* تحسين أزرار الأكشن */
.table-custom .btn-outline-primary,
.table-custom .btn-outline-danger {
  transition: all 0.3s;
}

.table-custom .btn-outline-primary:hover {
  background-color: #81b29a;
  color: #fff;
}

.table-custom .btn-outline-danger:hover {
  background-color: #e07a5f;
  color: #fff;
}




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: translate(-50%, -60%);
//   }
//   to {
//     opacity: 1;
//     transform: translate(-50%, -50%);
//   }
// }

// .edit-popup {
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }
