.category-card {
  border: none;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  cursor: pointer;

  img {
    height: 200px;
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.05); // Zoom effect
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}
