.thumbnail {
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  
  &.main {
      border-color:darkgoldenrod;
    }
}
.body{
  background-color: var(--beige-100);
  padding: 20px 0;
}
.thumbnail:hover {
  border-color: var(--bs-primary);

}

.thumbnail.active {
  border-color: var(--bs-primary);
    transform: scale(.5);
}
// .thumbnail .main {
//   border-color: var(--bs-success);
  
// }

.product-gallery .main-image {
  position: relative;
  overflow: hidden;
}

.badges .badge {
  font-size: 0.75rem;
}

.avatar {
  flex-shrink: 0;
}

.action-buttons .btn {
  font-weight: 500;
}

.dropdown-menu .dropdown-item {
  transition: background-color 0.2s, border-left 0.2s;
  border-left: 3px solid transparent;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa; // Light gray
  border-left: 3px solid #0d6efd; // Bootstrap primary
}
a {
  text-decoration: none;
}
/* Edit Profile - Secondary */
.btn-custom-secondary {

  background: var(--secondary-color);
  color: #fff;
}
.btn-custom-secondary:hover,
.btn-custom-secondary.active {
    border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background: transparent;
}

/* Change Password - Light */
.btn-custom-light {
 background: var(--primary-light);
  color: #000;
}
.btn-custom-light:hover,
.btn-custom-light.active {
 
    border: 1px solid var(--primary-light);
  color: var(--primary-light);
  background: transparent;
}