.thumbnail {
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  
  &.main {
      border-color:darkgoldenrod;
    }
}

.thumbnail:hover {
  border-color: var(--bs-primary);

}

.thumbnail.active {
  border-color: var(--bs-primary);
    transform: scale(.5);
}
// .thumbnail .main {
//   border-color: var(--bs-success);
  
// }

.product-gallery .main-image {
  position: relative;
  overflow: hidden;
}

.badges .badge {
  font-size: 0.75rem;
}

.avatar {
  flex-shrink: 0;
}

.action-buttons .btn {
  font-weight: 500;
}

.dropdown-menu .dropdown-item {
  transition: background-color 0.2s, border-left 0.2s;
  border-left: 3px solid transparent;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa; // Light gray
  border-left: 3px solid #0d6efd; // Bootstrap primary
}
a {
  text-decoration: none;
}
