
<div class="d-flex justify-content-center" 
     style="min-height: 100vh; background: var(--beige-100);">

  <div class="card shadow-lg border-0 rounded-4 w-100" style="max-width: 600px;max-height: 300px; margin-top: 100px; background: linear-gradient(135deg, #3d405b 0%, #81b29a 100%);">
    <div class="card-body p-4">
      <h2 class="fw-bold text-center mb-4 gradient-text">
        Forgot Password
      </h2>

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
          <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched" class="text-danger mt-1 small">
            Please enter a valid email.
          </div>
        </div>

        <button type="submit" 
        class="btn w-100 text-white fw-semibold custom-btn"
        [disabled]="forgotForm.invalid || isLoading">
  <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
  Send Reset Link
</button>

      </form>

      <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    </div>
  </div>
</div>
